name: Update files with commit

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }} 
          ref: main 


      - name: Update files
        uses: MathieuSoysal/file-updater-for-release@v1.0.3
        with:
          files: README.md action.yaml
          prefix: "atilsensalduz/quay-vulnerability-check@" 
          with-checkout: false 
      
      - name: Push changes
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: actions@github.com
          add: .
          message: 'docs: update files according to new tag'